<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://func-poketraderapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/11447cb2-758d-4d3d-81ca-3813ef11f261/resourceGroups/PokeTrader/providers/Microsoft.Web/sites/func-poketraderapi</ResourceId>
    <UserName>$func-poketraderapi</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://func-poketraderapi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>